@model List<MyElearningProject.DAL.Entities.Student>
@{
    Layout = null;
}



<!DOCTYPE html>
<html lang="en">

@Html.Action("PartialHead", "AdminLayout")

<body class="fix-header fix-sidebar card-no-border">
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    @Html.Action("PartialPreloader", "AdminLayout")
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        @Html.Action("PartialNavbar", "AdminLayout")
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <aside class="left-sidebar">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">

                        <li>
                            <a class="waves-effect waves-dark" href="/StudentProfile/Index" aria-expanded="false"><i class="mdi mdi-account-check"></i><span class="hide-menu">Profilim</span></a>
                        </li>
                        <li>
                            <a class="waves-effect waves-dark" href="/StudentProfile/MYCourseList" aria-expanded="false"><i class="mdi mdi-table"></i><span class="hide-menu">Kurslarım</span></a>
                        </li>
                        

                    </ul>

                </nav>
            </div>

        </aside>


        <div class="page-wrapper">

            <div class="container-fluid">

                <h3>Profil Sayfası</h3>
                <h4>Mail Adresi: @ViewBag.mail</h4>
                <h5>Hoşgeldin @ViewBag.name</h5>
               
            </div>

            @Html.Action("PartialFooter", "AdminLayout")

        </div>
    </div>
    @Html.Action("PartialScript", "AdminLayout")
</body>

</html>



